/* Root variables for easier color and style customization */
:root {
  --container-bg-color: rgb(238, 235, 227);
  --container-shadow-color: rgba(0, 0, 0, 0.4);
}

/* Universal reset to eliminate default padding, margin, and border-box model */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Ensures border and padding do not affect element width/height */
}

/* Basic body styles, 1rem = 16px */
body {
  background-image: url('images/background-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
  font-size: 0.8125rem;
  font-size: clamp(0.8125rem, 0.725rem + 0.43750000000000006vw, 1.25rem);
}

/* Container styles */
.container {
  background-color: var(--container-bg-color);
  width: 80%;
  max-width: 54.063rem;
  margin: 6.25rem auto;
  padding: 2.5rem;
  text-align: justify;
  border-radius: 1.25rem;
  box-shadow: 0 0 1.25rem var(--container-shadow-color);
}

/* Title styles */
.header__title {
  text-align: left;
  margin-bottom: 1.25rem;
}

/* Paragraph styles */
.content__text {
  margin-bottom: 1.25rem;
}

/* Image styles */
.content__image {
  width: 100%;
  height: auto;
  max-width: 28.125rem;
  margin-bottom: 1.25rem;
  opacity: 0;
  transition: all 0.8s;
}

/* Images that are aligned to the left */
.content__image--left {
  float: left;
  margin-right: 1.25rem;
}

/* Images that are aligned to the right */ 
.content__image--right {
  float: right;
  margin-left: 1.25rem;
}

/* Moves the images to the left */
.content__image.content__image--left {
  transform: translateX(-30%) scale(0.95);
}

/* Moves the images to the right */
.content__image.content__image--right {
  transform: translateX(30%) scale(0.95);
}

/* Moves the images back in place */
.content__image.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}